
@font-face {
    font-family: 'AdobeCaslonProRegular';
    src: url('../font/acaslonpro-regular-webfont.eot');
    src: url('../font/acaslonpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/acaslonpro-regular-webfont.woff') format('woff'),
         url('../font/acaslonpro-regular-webfont.ttf') format('truetype'),
         url('../font/acaslonpro-regular-webfont.svg#AdobeCaslonProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://themes.googleusercontent.com/static/fonts/opensans/v6/u-WUoqrET9fUeobQW7jkRT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@import url(http://fonts.googleapis.com/css?family=Oxygen);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Gilda+Display);


html{font-family: 'Raleway', sans-serif;color:#424242;overflow-y: scroll;background: #888888;}
/*body{font-family: 'Open Sans', sans-serif !important;font-size: 100%;text-align: left;}
html,body{margin: 0px;padding:0px; height:100%;}*/


h1, h2, h3, h4{font-weight:bold;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
h2{margin:20px 10px;}
h4{margin:20px 10px 1px 10px !important;}
p{color:#313131;}

table{margin:10px 20px 20px 10px;}
td{padding:10px;}

.gBernardin,.eBrunet, .fBrunet, .aCosner, .sGaio, .aLongo, .logoCoop{font-weight:bold;}
.gBernardin{color:#E61C1C;}
.eBrunet{color:#FFD735;}
.fBrunet{color:#FF55FF;}
.aCosner{color:#45E545;}
.sGaio{color:#33FFFF;}
.aLongo{color:#FF9952;}
.logoCoop{color:#FF00FF;}

div#accordion ul li{margin-left:15px; list-style:none;}
/*stili per il layout fisso*/

div#container{
 background-color: #F8F8F6;
 position:absolute;
 top:0px;
 left:0px;
 width:100%;
 min-height: 100%;
 z-index:1;
 font-size: 11px;
}

div#wrap{
 padding:0px;
 margin: 0px auto !important;
 width: 1020px;
 text-align: left;
 height: auto;  
}
#bgHeaderLine{
 position:absolute;
 top:47px;
 left:158px;
 width:820px;
 height:12px;
 background-color: rgb(57,45,0);
}
div#header{
 position:relative;
 /*background-color: rgba(255,255,255,0.5);
 background: url("../img/layout/bgHeader.png");
 background-repeat: no-repeat;
 background-position: 100px 18px;*/
 margin:60px 0px 40px;
 padding:0px;
 color: #ff0; 
 height:60px;
 z-index:2;
}
div#header h1 {color:#000; font-size:1.6em;}
div#header h2 {color:#585858; font-size:1.2em;}
div#header h1,div#header h2 {padding:0px; margin:10px 0px 0px 25px;}
div#logo{
 position: absolute;
 top: 22.5px;
 left: -105px;
 width:268px;
 height:91px;
 cursor:pointer;
 background: url("../img/layout/logoBigHover.png");
 background-repeat: no-repeat;
 background-position: left top;
 background-size:contain;
 z-index:1000;
 /*transition: background 0.5s linear;
 -moz-transition: background 0.5s linear;
 -webkit-transition: background 0.5s linear;
 -o-transition: background 0.5s linear;*/ 
}
/*div#logo:hover{
 background: url("../img/layout/logoBig1.png");
 background-repeat: no-repeat;
 background-position: left top;
 background-size:contain;
}*/

div#logo2{
 position:absolute;
 top:-42px;
 right: -20px;
 width:100px;
 height:100px;
 cursor:pointer;
 font-size: 16px;
 background-color:rgb(57,45,0);
}
div#logo3{
 position:absolute;
 top:22px;
 right: -50px;
 width:115px;
 height:115px;
 cursor:pointer;
 font-size: 16px;
 background-color:rgb(79,63,0);
}
div#logo2:hover, div#logo3:hover{background-color:rgb(96,75,0); z-index:1000 !important;}
div#logo2, div#logo3{
 -webkit-border-radius: 30em;
 -moz-border-radius: 30em;
 border-radius: 30em;
 transition: background 0.5s linear;
 -moz-transition: background 0.5s linear; /* Firefox 4 */
 -webkit-transition: background 0.5s linear; /* Safari and Chrome */
 -o-transition: background 0.5s linear; /* Opera */
}


div.logoTondo{
 /*width:115px;
 height:115px;*/
 margin:0px auto !important;
 z-index:3;
}
div#logo3 div{padding-top:8px;}
div.logoTondo p{ 
 color:#fff !important;
 font-family: 'AdobeCaslonProRegular', Arial, sans-serif;
 /*padding:40px 0px 40px 12px !important;*/
 margin:40px auto !important;
 text-align:center;
}

div#content{
 position:relative;
 width:1020px;
 height:auto !important;
 min-height:580px;
 margin:20px 0px;
 padding: 0px;
 background-color: rgba(255,255,255,0.9);
 border: 1px #ccc solid;
 clear:both;
}
div#content h1{width:900px;font-size: 1.4em; font-weight:bold;color:#FF8952;margin:20px 10px 10px 10px;}
div#content p, div#content li{font-size: 1.1em;margin:10px;}
div#accordion div p{font-size: 0.9em;margin:10px;}

div#footer{
   position:relative;
   padding:5px 0px 0px 0px;
   margin:0px 0px 1px 0px;
   font-size:11px;
   text-align:center; 
   background-color: none !important;
   color: #B1ACA7;
   clear:both;
   width:100%;
   height:35px;
}
div#footer a{color: #968676;font-weight: bold;text-decoration: none;}

/***************  menù orizzontale   ***********/
#menuContent{
 /*margin:-2px 0px 0px 100px;
 padding:0px;*/
 position:absolute;
 top:55px;
 left:215px;
 width:900px;
 height:33px;
}

div#menuImg{
 position:absolute;
 top:-10px;
 left:225px;
 float:left;
 padding:0px;
 width:880px;
 height:33px;
}

div.menu{
 margin:4px 2px 0px;
 padding:3px 2px 40px 2px;
 width:80px;
 height:10px;
 float:left;
}
div.menuImg{
 margin: 0px 2px;
 padding:0px 2px 0px 2px;
 float:left;
}
div.menuImg,div#homeLinkImg,div#progettoLinkImg,div#fontiLinkImg,div#istruzioniLinkImg,div#dbLinkImg, div#webgisLinkImg, div#staffLinkImg, div#linkLinkImg, div#materialiLinkImg,div#progCorrLinkImg {
 width:80px;
 height:60px;
}
div.linkText{
 font-size:1.1em;
 font-family: 'PT Sans', sans-serif;
 font-weight:bold;
 margin:-16px 1px 0px 1px; 
 cursor:pointer;
 /*color:rgba(89, 87, 78, 1);*/
 color:white;
 text-align: center;
 width:80px;
 height:10px;
 float:left;
}
div.menuImgProgCorr, div#progCorrLink,div#progCorrLinkBg{width:120px !important;}
.progCorr{padding:0px 25px !important;}
/*
div#homeLink:hover{color:rgba(36,172,204,1);}
div#progettoLink:hover{color:rgba(255,127,42,1);}
div#fontiLink:hover{color:rgba(91,255,36,1);}
div#istruzioniLink:hover{color:rgba(255,85,85,1);}
div#dbLink:hover{color:rgba(255,204,0,1);}
div#webgisLink:hover{color:rgba(0,102,255,1);}
div#staffLink:hover{color:rgba(255,0,255,1);}
div#progCorrLink:hover{color:rgba(171,200,55,1);}
div#linkLink:hover{color:rgba(255,102,0,1);}
div#materialiLink:hover{color:rgba(95,243,211,1);}
*/
.hoverHome, .hoverProgetto, .hoverFonti, .hoverIstruzioni, .hoverDb, .hoverWebgis, .hoverStaff, .hoverProgCorr, .hoverLink, .hoverMateriali{ 
 margin:4px 2px 0px;
 padding:3px 2px 40px 2px;
 width:80px;
 float:left;
}

.hoverHome{
 background: rgba(36,172,204,0.6);
 background: -webkit-gradient(linear, 0% 0%, 0% 85%, from(rgba(36,172,204,0.6)), to(rgba(255,255,255,0)));
 background: -webkit-linear-gradient(top,rgba(36,172,204,0.6), rgba(255,255,255,0));
 background: -moz-linear-gradient(top,rgba(36,172,204,0.6), rgba(255,255,255,0));
 background: -ms-linear-gradient(top,rgba(36,172,204,0.6), rgba(255,255,255,0));
 background: -o-linear-gradient(top,rgba(36,172,204,0.6), rgba(255,255,255,0));
 filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='rgba(36,172,2040,0.9)', EndColorStr='rgba(255,255,255,0)', GradientType=0);
}
.hoverProgetto{
 background: rgba(255,127,42,0.6);
 background: -webkit-gradient(linear, 0% 0%, 0% 85%, from(rgba(255,127,42,0.6)), to(rgba(255,255,255,0)));
 background: -webkit-linear-gradient(top,rgba(255,127,42,0.6), rgba(255,255,255,0));
 background: -moz-linear-gradient(top,rgba(255,127,42,0.6), rgba(255,255,255,0));
 background: -ms-linear-gradient(top,rgba(255,127,42,0.6), rgba(255,255,255,0));
 background: -o-linear-gradient(top,rgba(255,127,42,0.6), rgba(255,255,255,0));
 filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='rgba(255,127,42,0.9)', EndColorStr='rgba(255,255,255,0)', GradientType=0);
}
.hoverFonti{
 background: rgba(91,255,36,0.6);
 background: -webkit-gradient(linear, 0% 0%, 0% 85%, from(rgba(91,255,36,0.6)), to(rgba(255,255,255,0)));
 background: -webkit-linear-gradient(top,rgba(91,255,36,0.6), rgba(255,255,255,0));
 background: -moz-linear-gradient(top,rgba(91,255,36,0.6), rgba(255,255,255,0));
 background: -ms-linear-gradient(top,rgba(91,255,36,0.6), rgba(255,255,255,0));
 background: -o-linear-gradient(top,rgba(91,255,36,0.6), rgba(255,255,255,0));
 filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='rgba(91,255,36,0.9)', EndColorStr='rgba(255,255,255,0)', GradientType=0);
}
.hoverIstruzioni{
 background: rgba(255,85,85,0.6);
 background: -webkit-gradient(linear, 0% 0%, 0% 85%, from(rgba(255,85,85,0.6)), to(rgba(255,255,255,0)));
 background: -webkit-linear-gradient(top,rgba(255,85,85,0.6), rgba(255,255,255,0));
 background: -moz-linear-gradient(top,rgba(255,85,85,0.6), rgba(255,255,255,0));
 background: -ms-linear-gradient(top,rgba(255,85,85,0.6), rgba(255,255,255,0));
 background: -o-linear-gradient(top,rgba(255,85,85,0.6), rgba(255,255,255,0));
 filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='rgba(255,85,85,0.9)', EndColorStr='rgba(255,255,255,0)', GradientType=0);
}
.hoverDb{
 background: rgba(255,204,0,0.6);
 background: -webkit-gradient(linear, 0% 0%, 0% 85%, from(rgba(255,204,0,0.6)), to(rgba(255,255,255,0)));
 background: -webkit-linear-gradient(top,rgba(255,204,0,0.6), rgba(255,255,255,0));
 background: -moz-linear-gradient(top,rgba(255,204,0,0.6), rgba(255,255,255,0));
 background: -ms-linear-gradient(top,rgba(255,204,0,0.6), rgba(255,255,255,0));
 background: -o-linear-gradient(top,rgba(255,204,0,0.6), rgba(255,255,255,0));
 filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='rgba(255,204,0,0.9)', EndColorStr='rgba(255,255,255,0)', GradientType=0);
}
.hoverWebgis{
 background: rgba(0,102,255,0.6);
 background: -webkit-gradient(linear, 0% 0%, 0% 85%, from(rgba(0,102,255,0.6)), to(rgba(255,255,255,0)));
 background: -webkit-linear-gradient(top,rgba(0,102,255,0.6), rgba(255,255,255,0));
 background: -moz-linear-gradient(top,rgba(0,102,255,0.6), rgba(255,255,255,0));
 background: -ms-linear-gradient(top,rgba(0,102,255,0.6), rgba(255,255,255,0));
 background: -o-linear-gradient(top,rgba(0,102,255,0.6), rgba(255,255,255,0));
 filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='rgba(0,102,255,0.9)', EndColorStr='rgba(255,255,255,0)', GradientType=0);
}
.hoverStaff{
 background: rgba(255,0,255,0.6);
 background: -webkit-gradient(linear, 0% 0%, 0% 85%, from(rgba(255,0,255,0.6)), to(rgba(255,255,255,0)));
 background: -webkit-linear-gradient(top,rgba(255,0,255,0.6), rgba(255,255,255,0));
 background: -moz-linear-gradient(top,rgba(255,0,255,0.6), rgba(255,255,255,0));
 background: -ms-linear-gradient(top,rgba(255,0,255,0.6), rgba(255,255,255,0));
 background: -o-linear-gradient(top,rgba(255,0,255,0.6), rgba(255,255,255,0));
 filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='rgba(255,0,255,0.9)', EndColorStr='rgba(255,255,255,0)', GradientType=0);
}
.hoverProgCorr{
 background: rgba(171,200,55,0.6);
 background: -webkit-gradient(linear, 0% 0%, 0% 85%, from(rgba(171,200,55,0.6)), to(rgba(255,255,255,0)));
 background: -webkit-linear-gradient(top,rgba(171,200,55,0.6), rgba(255,255,255,0));
 background: -moz-linear-gradient(top,rgba(171,200,55,0.6), rgba(255,255,255,0));
 background: -ms-linear-gradient(top,rgba(171,200,55,0.6), rgba(255,255,255,0));
 background: -o-linear-gradient(top,rgba(171,200,55,0.6), rgba(255,255,255,0));
 filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='rgba(171,200,55,0.9)', EndColorStr='rgba(255,255,255,0)', GradientType=0);
}
.hoverLink{
 background: rgba(255,102,0,0.6);
 background: -webkit-gradient(linear, 0% 0%, 0% 85%, from(rgba(255,102,0,0.6)), to(rgba(255,255,255,0)));
 background: -webkit-linear-gradient(top,rgba(255,102,0,0.6), rgba(255,255,255,0));
 background: -moz-linear-gradient(top,rgba(255,102,0,0.6), rgba(255,255,255,0));
 background: -ms-linear-gradient(top,rgba(255,102,0,0.6), rgba(255,255,255,0));
 background: -o-linear-gradient(top,rgba(255,102,0,0.6), rgba(255,255,255,0));
 filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='rgba(255,102,0,0.9)', EndColorStr='rgba(255,255,255,0)', GradientType=0);
}
.hoverMateriali{
 background: rgba(95,243,211,0.6);
 background: -webkit-gradient(linear, 0% 0%, 0% 85%, from(rgba(95,243,11,0.6)), to(rgba(255,255,255,0)));
 background: -webkit-linear-gradient(top,rgba(95,243,211,0.6), rgba(255,255,255,0));
 background: -moz-linear-gradient(top,rgba(95,243,211,0.6), rgba(255,255,255,0));
 background: -ms-linear-gradient(top,rgba(95,243,211,0.6), rgba(255,255,255,0));
 background: -o-linear-gradient(top,rgba(95,243,211,0.6), rgba(255,255,255,0));
 filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='rgba(95,243,11,0.9)', EndColorStr='rgba(255,255,255,0)', GradientType=0);
}
div#homeLinkImg {
 background-image: url("../img/layout/albero1.png");
 background-repeat: no-repeat;
 background-position: top left;
}
div#progettoLinkImg {
 background-image: url("../img/layout/albero2.png");
 background-repeat: no-repeat;
 background-position: top left;
}
div#fontiLinkImg {
 background: url("../img/layout/albero3.png");
 background-repeat: no-repeat;
 background-position: top left;
}
div#istruzioniLinkImg {
 background: url("../img/layout/albero4.png");
 background-repeat: no-repeat;
 background-position: top left;
}
div#dbLinkImg {
 background: url("../img/layout/albero5.png");
 background-repeat: no-repeat;
 background-position: top left;
}
div#webgisLinkImg {
 background: url("../img/layout/albero6.png");
 background-repeat: no-repeat;
 background-position: top left;
}
div#staffLinkImg {
 background: url("../img/layout/albero7.png");
 background-repeat: no-repeat;
 background-position: top left;
}
div#progCorrLinkImg {
 background: url("../img/layout/albero8.png");
 background-repeat: no-repeat;
 background-position: top left;
}
div#linkLinkImg {
 background: url("../img/layout/albero9.png");
 background-repeat: no-repeat;
 background-position: top left;
}
div#materialiLinkImg {
 background: url("../img/layout/albero10.png");
 background-repeat: no-repeat;
 background-position: top left;
}


/*****CSS SPECIFICI DELLE VARIE PAGINE*******/

div#homeContent h1,div#homeContent a{color:rgb(36,172,204);}
div#progettoContent h1,div#progettoContent a{color:rgb(255,127,42);}
div#fontiContent h1, p.sezFontiP, div#fontiContent a{color:rgb(91,255,36);}
div#istruzioniContent h1,div#istruzioniContent a{color:rgb(255,85,85);}
acronym.db{border-bottom:1px dotted #FFCC00; cursor:help;color:#FFCC00; font-weight:bold;}
div#dbContent h1,div#dbContent a{color:#FFCC00;}
div#webgisContent h1, div#webgisContent a{color:rgb(0,102,255);}
div#staffContent h1, div#staffContent a{color:rgb(255,0,255);}
div#progCorrContent h1, div#progCorrContent a{color:rgb(171,200,55);}
div#linkContent h1, div#linkContent a{color:rgb(255,102,0);}
div#linkContent div.sezLink{margin:10px 30px !important;clear:both;}
div#linkContent img {margin:5px 30px;vertical-align:middle !important;}
div#materialiContent h1, div#materialiContent a{color:rgb(95,243,211);}

/*div#accordion p, div#accordion li{font-family: 'Playfair Display', serif;}*/
div#accordion div{margin-top:-11px !important; padding:0px 10px;}

/************* UTENTE *******************/
/*div#utente{width: 100%;background-color: rgba(255,255,255,1);color:#968676;padding:0px 10px;}
a.sessionLink{color:#968676;text-decoration: none; padding:0px 5px;display: block;width:80px;}
a.sessionLink:hover{background-color: #968676;color:rgb(255,255,255)}
#sessionMenu li{float:left;display: block;font-size:0.9em; position:relative;width:80px; padding:0px 1px;margin:0px 8px;text-align: center;}
#sessionMenu li ul{position:absolute; z-index: 10000;left:-7px}
.submenu li{position:relative;display: inline-block;padding:3px 5px !important;width:80px;background-color: rgba(150,134,118,0.9);
border-bottom: 1px dashed ghostwhite;}
.submenu li:hover{background-color: rgba(248,248,246,1);}
.submenu li a{text-decoration: none;color:ghostwhite;display: block;width:80px;}
.submenu li a:hover{color:rgb(150,134,118);}

h2.titoletto{ width: 500px; font-size: 1.4em; font-weight: bold; color: #FF8952; margin: 20px 0px 10px; border-bottom:1px solid #ff8952;}*/

/************ LOGIN ********************/
div#loginWrap{width:400px;height:auto;padding:30px;border:1px solid #bdbdbd;background-color: rgba(255,255,255,0.9); position: relative;margin:15% auto 0px;border-radius:5px;box-shadow: 0 6px 10px -2px #3f4143;}
div#loginTitle, div.loginTitle2{font-family: 'AdobeCaslonProRegular',helvetica,arial,sans-serif; -webkit-font-smoothing: antialiased; font-size: 28px; border-bottom: 1px solid #bdbdbd; line-height: 32px; color: #3b3b3b;}
div.loginTitle2{text-align: center;}
div#loginForm{ background-color: #f5f5f5; border: 1px solid #e4e4e4; padding: 16px; min-width: 200px; margin:20px auto;}
form#login_form label, form#login_form input{display: block;margin-bottom: 3px;}
form#login_form label{color: #747474; line-height: 18px; font-family: helvetica,arial,sans-serif; font-size: 16px;}
form#login_form input,form#login_form select, div.login2{ width: 94%; font-size: 18px; line-height: 18px; color: #3b3b3b; border: 1px solid #cacaca; padding: 10px 8px; margin-bottom: 5px;}
div.login2{background-color: #DDDDDD;cursor: pointer;text-align: center;}
form#login_form input[type="submit"]{width: 99% !important;cursor: pointer;}
form#login_form input:focus{border: 1px solid #798696;}
form#login_form input[type="submit"]:hover, div.login2:hover{background-color: #cacaca;}

.ui-tooltip, .qtip-content{font-family: 'Arial', sans-serif; z-index: 21000 !important;}
.qtip-content h2{font-size: 14px !important; padding:0px; margin:4px 0px; text-align: center;}
.qtip-content p{font-size: 12px; color:white !important;}
/*! Add rounded corners to your tooltips in: FF3+, Chrome 2+, Opera 10.6+, IE9+, Safari 2+ */
.ui-tooltip-rounded,.ui-tooltip-rounded .ui-tooltip-content,.ui-tooltip-tipsy, .ui-tooltip-tipsy .ui-tooltip-content, .ui-tooltip-youtube, .ui-tooltip-youtube .ui-tooltip-content{-moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;}

/****************** loader ********************/
.loader {display:none;position:fixed;z-index:1000;top:0;left:0;height:100%;width:100%;background: rgba( 255, 255, 255, 0.4 ) url('../img/icone/loader.gif') 50% 50% no-repeat;}
body.loading {overflow: hidden;}
body.loading .loader {display: block;}
